@import "~_variables.scss";

mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container > .flex-item {
    padding: 0 1em;
    box-sizing: border-box;
    display:flex;
}

@media only screen and (max-width: 1000px) {
    .flex-container {
        flex-direction: column;
    }
}

.fetch-btn {
    margin-top: 40%;
    padding: 10px;
}

.auto-update-fieldset {
    max-width: 350px;
}

.time-input {
    margin-right: 40px;
}

fieldset {
    border: 1px solid $primary;
}

legend {
    color: $primary;
    text-align: left;
}