@import "~_variables.scss";

button {
    margin-left: 10px;
    margin-right: 10px;
}

.fetch-btn {
    display: inline-block;
    padding: 10px 40px 10px 40px;
    margin-top: 45px;
    margin-left: 20px;
}

mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
}

#left-input {
    margin-left: 100px;
}

#right-input {
    margin-left: 20px;
    margin-right: 40px;
}

.outer-div {
    width: 100%;
    display: flex;
}

.date-time-input-div {
    display: inline-block;
}

.time-input {
    margin-right: 40px;
}

fieldset {
    border: 1px solid $primary;
}

.auto-update-fieldset {
    margin-left: 20px;
}

legend {
    color: $primary;
    text-align: left;
}