@import "~_variables.scss";

.mat-toolbar-row.top-menu-bar {
    height: 50px;
}

p {
    font-size: 0.7em;
}

.spacer {
    flex-grow: 1;
}

.hamburger {
    display: none;
}

.mat-toolbar-multiple-rows {
    min-height: 50px;
}

.mobile-links {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
    }

    .mobile-links.open {
        display: block;
        background-color: $primary;
        color: white;
        float: none;
    }
    .mobile-links.open a{
        display: block;
        text-align: left;
    } 

    .top-menu-bar a:not(:first-child){
        display: none;
    }

    .version-number, .sub-row{
        display: none;
    }
}

a {
    margin-right: 10px;
    text-decoration: none;
}
a.homeButton {
    margin-left: 0px;
    padding-left: 0px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    font-size: 0.7em;
  }

.dividerSpace {
    width: 10px;
}
.sub-row {
    background-image: linear-gradient(#283593, $primary 17%, $primary);
}