<mat-toolbar color="primary">
    <mat-toolbar-row class="top-menu-bar">
        <div>
            <a class="homeButton" mat-button [routerLink]="'/'">{{title}}</a>
            <a mat-button [routerLink]="'/graph'"> Graph </a>
            <a mat-button [routerLink]="'/log'"> Log </a>
        </div>
        <div class="spacer"></div>
        <p>v.1.1-beta</p>
    </mat-toolbar-row>
    <mat-toolbar-row class="sub-row">
        <span style="font-size: 12px;">{{currentLink}}</span>
    </mat-toolbar-row>
</mat-toolbar>