@import "~_variables.scss";

.mat-toolbar-row.top-menu-bar {
    height: 50px;
}

a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
a.homeButton {
    margin-left: 0px;
    font-weight: bold;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

.dividerSpace {
    width: 10px;
}
.sub-row {
    background-image: linear-gradient(#283593, $primary 17%, $primary);
}