<mat-toolbar color="primary">
    <mat-toolbar-row class="top-menu-bar">
        <ul [ngClass]="menuBarOpen ? 'open' : '' ">
            <li><a class="homeButton" mat-button [routerLink]="'/'">{{title}}</a></li>
            <li><a mat-button [routerLink]="'/graph'"> Graph </a></li>
            <li><a mat-button [routerLink]="'/log'"> Log </a></li>
        </ul>
        <div class="spacer"></div>
        <button mat-button class="hamburger" (click)="onHamburgerClick()">
            <mat-icon>menu</mat-icon>
        </button>
        <p class="version-number">v.1.1-beta</p>
    </mat-toolbar-row>
    <mat-toolbar-row class="sub-row">
        <span style="font-size: 12px;">{{currentLink}}</span>
    </mat-toolbar-row>
</mat-toolbar>