.divider {
    margin-top: 70px;
}
.outer {
    position: relative;
}

.spinner {
    position: absolute;
    top: 200px;
    left: 50%;
    right: 50%;
    z-index: 1;
}

mat-spinner {
   margin: auto;
   top: 20%;
}

#chartContainer {
    height: 370px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 5px;
}


@media only screen and (max-width: 1000px) {
    .divider {
        margin-top: 5px;
    }

    #chartContainer {
        height: 450px;
    }
}